/* ============================================================================
	Grid
   =========================================================================== */	

   .hold {
   		width: 100%;
   		max-width: $grid-width;
   		margin: 0 auto;
   }

   .grid {
   		max-width: $grid-width + 300px;
   		margin: 0 auto;
   }

   .grid-item {
   		margin: 5px;
   }

