/* ============================================================================
	Layout
   =========================================================================== */

   body {
   	margin: 0;
   	background-color: $color--light-gray;
      text-align: center;
   }

   .hold {
   	padding: 15px;
   	background-color: #fff;
   }

   .grid {
      background-color: #fff;
   }